.MovieCard {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}

.poster {
    border-radius: 20px;
}

.title {
    margin: 15px 0 0 0;
}

.rating {
    margin: 10px 0 15px 0;
}