.MovieCard {
    overflow: hidden;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    max-width: 300px;
    transition: transform 0.2s;
}

.MovieCard:hover {
    transform: scale(1.05);
}

.poster {
    width: 100%;
}

.title {
    font-size: 15px;
    margin: 15px 0 0 0;
}

.rating {
    margin: 10px 0 15px 0;
}