.MovieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'DM Sans';
    gap: 45px;
    margin: 0 50px 0 50px;
}

.rounded-divider {
    border-top: 8px solid #bbb;
    margin: 10px 60px 0 60px;
    border-image: linear-gradient(90deg, #ff0095, #002cff, #00ffb3) 1;
}

.main-page-title h2 {
    font-family: 'DM Sans';
    font-size: 45px;
    font-weight: 900;
    color: white;
    margin: 20px 0 45px 0;
    padding: 0;
}

.title-emphasis {
    color: #ffa4d9;
    font-weight: 900;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 25px 50px 0 50px;
    padding: 10px;
}

.page-title {
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 40px;;
    color: white;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    font-family: 'DM Sans';
    height: 30px;
    width: 220px;
    padding: 5px;
}

::placeholder {
    color: #700042;
    opacity: 1;
  }

.search-button {
    font-family: 'DM Sans';
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #b3036a;
    margin: 0 50px 0 10px;
    transition: transform 0.2s;
}

.load-more-button {
    font-family: 'DM Sans';
    font-size: 25px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #b3036a;
    margin: 40px 0 40px 0;
    transition: transform 0.2s;
}

.search-button:hover,
.load-more-button:hover {
    transform: scale(1.05);
    color: white;
    background-color: #700042;
}


.sort-dropdown select {
    font-family: 'DM Sans';
    font-weight: 400;
    color: #700042;
    width: 200px;
    height: 40px;
    padding-left: 5px;
}

.footer {
    font-family: 'Playwrite CO';
    color: white;
    font-weight: bolder;
    font-size: 25px;
    background: rgb(255,0,149);
    background: linear-gradient(90deg, #ff0095 12%, 
    #002cff 53%,
    #00ffb3 92%);
    padding: 25px;
}

.footer p {
    font-family: 'DM Sans';
    font-size: 20px;
    margin: 5px 0 0 0;
}

.links {
    display: flex;
    justify-content: center;
    margin: 8px 0 0 0;
}

.page-links {
    color: #00ffb3;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    padding: 0 10px 0 10px;
}

.page-links:hover {
    color: #ffa4d9;
}

@media screen and (max-width: 680px) {
    .search-box {
        margin: 0;
    }

    .sort-dropdown {
        margin: 15px 0 0 0;
    }
}

@media screen and (max-width: 575px) {
    .main-page-title h2 {
        font-size: 30px;
        margin: 25px 0 25px 0;
    }

    .sort-dropdown select {
        width: 150px;
        height: 30px;
    }
    
    .search-box input {
        font-family: 'DM Sans';
        height: 15px;
        width: 180px;
        padding: 5px;
    }
    
    .search-button {
        font-family: 'DM Sans';
        font-size: 12px;
        height: 30px;
        border-radius: 10px;
        border: none;
        background-color: #b3036a;
        margin: 0 50px 0 10px;
        transition: transform 0.2s;
    }
}