.MovieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'DM Sans';
    gap: 45px;
}

.header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 25px 0;
    padding: 10px;
}

.search-box {
    display: flex;
    align-items: center;
    
}

.search-box input {
    font-family: 'DM Sans';
    height: 30px;
    width: 220px;
    padding: 5px;
}

.search-button {
    font-family: 'DM Sans';
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #b3036a;
    margin: 0 0 0 10px;
    transition: transform 0.2s;
}

.load-more-button {
    font-family: 'DM Sans';
    width: 100px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #b3036a;
    margin: 40px 0 40px 0;
    transition: transform 0.2s;
}

.search-button:hover,
.load-more-button:hover {
    transform: scale(1.05);
    color: white;
    background-color: #700042;
}


.sort-dropdown select {
    font-family: 'DM Sans';
    width: 200px;
    height: 40px;
}


.footer {
    font-family: 'Playwrite CO';
    color: white;
    font-weight: bolder;
    font-size: 25px;
    background: rgb(255,0,149);
    background: linear-gradient(90deg, rgba(255,0,149,1) 12%, 
    rgba(0,44,255,1) 53%,
    rgba(0,255,179,1) 92%);
    padding: 25px;
}

.footer p {
    font-family: 'DM Sans';
    font-size: 20px;
    margin: 5px 0 0 0;
}