.App {
  text-align: center;
  background-color: rgb(27, 27, 27);
}

.app-header {
  font-family: 'Playwrite CO';
  font-size: 80px;
  color: white;
  text-shadow:
  0 0 1px #fff,
  0 0 4px #fff,
  0 0 6px #fff,

  0 0 50px #ff0095,
  0 0 75px #ff0095,
  0 0 95px #ff0095; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 50px 25px 50px;
  margin: 0;
}

@media screen and (max-width: 680px) {
  .app-header {
    font-size: 70px;
  }
}

@media screen and (max-width: 575px) {
  .app-header {
    font-size: 65px;
  }
}