.App {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 50px;
  margin: 0 0 25px 0;
}